@cor-th-title:rgb(196, 196, 196);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@primary:#00B401;
@secondary:#0003E0;
@terciary:#F0E91D;
@font-size:2em;
@font-family: 'Open Sans';

body{
 background-color: @secondary;
 font-family: Arial, Helvetica, sans-serif;
  .form{
    background-color: white;
    margin: 5px;
    width: 90%;
    font-family: 'Open Sans',sans-serif ;
    margin: 10px auto;
    border-radius: 5px;
    padding: 5px;
    h1{
      font-size: 2em;
    }

  }
}
*{
  margin: 0;
  padding: 0;
}
form{
  padding: 5px;
  font-size: @font-size;
  input,select,textarea{
    display: block;
    margin-bottom: 20px;
    resize: none;
  }
  textarea{
    width: 100%;
    font-family:@font-family ;
    padding: 10px;
    box-sizing: border-box;
    font-size:30px;
  }
  input{
    outline: none;
    padding: 3px;
    box-sizing: border-box;
    font-size: 20px;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid;
    vertical-align: baseline;
    transition: border 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-family: @font-family,sans-serif;
    &:focus{
      border-bottom: 1px solid blue;
    }
  }
  input::placeholder{
    padding-bottom: 0;
    margin-bottom: 0;
  }
  input[type='date']{
    background-color: yellow;
    height: 30px;
    border: 1px solid black;
  }
  input[type='button']{
    border: 1px solid;
    border-radius: 2px;
    background-color: white;
    transition: 1s all;
    &:hover{
      background-color: rgb(83, 83, 83);
      color: white;
    }
  }
  p{
    display: inline;  
  }
  input[type='radio']{
    display: inline;
    height: 20px;
    width: 50px;
    margin-bottom: 0;
  }
  #itipoOutro{
    width: 100%;
    display: inline;
    margin-bottom: 0;
  }
  .tipo__div{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  select{
    width: 100%;
    height: 30px;
  }
}
.tipo__form{
  padding: 20px;
}

/*Table Style*/
.table{
  display: block;
  background-color: white;
}

table,td,tr,th{
  border: 1px solid; 
  padding: 5px;
}
table{
  border-collapse: collapse;
  width: 90vw;
  margin: 2px;
}
.table__header--info{
  height: 50px;
}
.textTable{
  outline: none;
  width: 100%;
  border: none;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}
.textarea__td{
  padding: 0;
  text-align: center;
  padding-right: 1px;
}
th.group-title,th{
  background-color: @cor-th-title;
  font-weight: 500;
}
thead{
  td{
    vertical-align: top;
  }
}
#iTableType{
  margin-left: 10px;
}
.km--fix{
  text-align: end;
}