.table{
    box-sizing: border-box;
    width: 100%;
    border: black solid 2px ;
    display: none;
    flex-direction: column;
    height: 100%;
    .titulo{
        font-style: italic;
        font-weight: bold;
        background-color: #c4c4c4;
        border: solid black 2px;
        padding: 5px;
        text-align: center;
    }
    & div{
        display: grid;
    }
    div[id]{
        border: solid black 1px;
        padding: 4px;
        text-align: center;
    }
}
.head_info{
    grid-template-columns: repeat(3,1fr);
    .info{
        text-align: center;
    }
}
.headerinfo {// Nome dos campos
    border: black solid 1px;
    font-weight: bold;
    padding: 3px;
}
.header{
        grid-template-columns: 1fr 3fr 1fr 4fr 1fr 1fr;
    div[id]{
        border: black solid 0.5px;
    }
    .ficha{
        grid-column: 1/ 7;
    }
  
}
.horario{
    grid-template-columns: repeat(4, 1fr) ;
    .chegada, .saida{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        & :first-child{
            grid-column: 1/3;
        }
    }
}
.materiais{
    grid-template-columns: 3fr repeat(4, 1fr);
    & :first-child{
        grid-column: 1/6;
    }
}
body .off{
    display: none;
}

#imagens{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid;
    border-top:none;
    justify-content: space-between;
    background-color: white;
      .img__table{
      max-width: 250px;
      max-height: 400px;
      padding: 5px;
    }
    .p__table{
      width: 90%;
      text-align: center;
    }
    div{
      border: 2px solid;
      padding: 5px;
      display: flex;
      width: 300px;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
  